footer{
    background-image: url(../../Media/images/footer.png);
    background-position: center;
    height: 30vh;
    padding: 1rem 0;
    background-size: cover;
    .col-lg-4{
        margin-bottom: 1rem;
    }
    h4{
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #888;
        text-transform: uppercase;
    }
    ul{
        padding: 0;
        li{
            margin-bottom: .8rem;
        }
    }
}


